<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ybg.demo.mybatis.mapper.SubTable1Mapper">
    <resultMap id="SubTable1ResultMap" type="io.ybg.demo.mybatis.entity.SubTable1">
        <id property="uniqueKey" column="unique_key"/>
        <result property="mainId" column="main_id"/>
        <result property="subData" column="sub_data"/>
    </resultMap>
    <select id="selectByMainId" parameterType="long" resultMap="SubTable1ResultMap">
        SELECT unique_key, main_id, sub_data FROM sub_table1 WHERE main_id = #{mainId}
    </select>
</mapper>